# essentials
numpy
pandas
imutils
scipy
scikit-learn
opencv-python
wandb

# visualization
matplotlib
seaborn
tqdm
plotly

# app
tk
streamlit
streamlit-webrtc
psutil

#torch
torch 
torchvision 
torchaudio 

# model validation
numba
asposestorage==1.0.2
autorank>1.1.1
biosppy>0.7.3
ipython>7.28.0
ipywidgets>7.6.5
lmfit>1.0.3
mediapipe>0.9.3.0
plotly>5.3.1
PySimpleGUI>4.53.0
scikit_posthocs>0.6.7
scikit-image>0.18.3
tensorflow
