# essentials
numpy
pandas
imutils
scipy
scikit-learn
opencv-python
wandb

# visualization
matplotlib
seaborn
tqdm
plotly
# app
tk
streamlit
camera
streamlit-webrtc
#torch
torch 
torchvision 
torchaudio 
